<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="userForm">
      <div class="card">
        <div class="card-header">
          <strong>Company</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your full name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="vat">Phone</label>
            <input type="text" class="form-control" id="vat" placeholder="9876543210" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" placeholder="Enter street name">
          </div>
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="Enter your city">
            </div>
            <div class="form-group col-sm-4">
              <label for="postal-code">Postal Code</label>
              <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
            </div>
          </div>
          <!--/.row-->
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country name">
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input">File input</label>
            <div class="col-md-9">
              <input type="file" id="file-input" name="file-input" (change)="readURL($event);">
              <img *ngIf="imageSrc" id="preview-image" width="120" height="120" [src]="imageSrc" alt="your image" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--/.col-->
</div>
<!--/.row-->